html, body {
  margin: 0;
  padding: 0;
  height: 100%;
}

#wrapper {
  min-height: 100%;
  position: relative;
}

.header {
  background-color: $brand;
}

$footer-height: 50px;

#content {
  padding-bottom: $footer-height;
}

#footer {
  width:100%;
  height: $footer-height;
  position:absolute;
  bottom:0;
  left:0;
  background-color: $secondary;
}

#footer .footer-text {
  line-height: 50px;
  vertical-align: middle;
  color: darken($secondary, 25%);
}

#footer .footer-text a {
  color: darken($secondary, 25%);
  text-decoration: underline;
}

.submit-resource-row, .homepage-row {
  padding: 20px 0 20px 0;
}

.email {
  margin-top: 8px;
}

.icon {
  padding: 30px 0 45px 0;
}

.login {
  margin-top: 30px;
}