.white-text, .white-text:hover, .white-text:active, .white-text:focus {
  color: #ffffff;
}

.blue-grey-text {
  color: #455a64;
}

.thin {
  font-family: 'Roboto',  sans-serif;
}

.btn-ghost {
  border: 2px solid #ffffff;
  background-color: rgba(0, 0, 0, 0);
  color: #ffffff;
  transition: background-color 400ms;
}

.btn-ghost:hover, .btn-ghost:active, .btn-ghost:focus {
  background-color: #ffffff;
  color: #224E6B;
  transition: background-color 400ms;
}

.btn-ghost-inverse {
  background-color: rgba(0, 0, 0, 0);
  color: $secondary;
  border: 2px solid $secondary;
  transition: 400ms;
}

.btn-ghost-inverse:hover, .btn-ghost-inverse:active {
  background-color: $secondary;
  color: #ffffff;
  border-color: $secondary;
  transition: background-color 400ms, border-color 400ms, color 400ms;
}

.btn-default-inverse {
  border: 2px solid $grey;
  background-color: rgba(0, 0, 0, 0);
  color: darken($grey, 20);
  transition: 400ms;
}

.btn-default-inverse-error {
  border: 2px solid $error;
}

.btn-default-inverse:hover, .btn-default-inverse:active {
  background-color: $secondary;
  border-color: $secondary;
  color: #ffffff;
  transition: background-color 400ms, border-color 400ms, color 400ms;
}

.center-responsive-image {
  margin: 0 auto;
}

.display-inline-block {
  display: inline-block;
}

.pointer:hover {
  cursor: pointer;
}

.loader {
  margin-top: 20px;
}

.custom-well {
  background-color: #FCFCFC;
  border-bottom: 2px solid darken(#f7f7f7, 10);
  border-bottom-left-radius: 3px;
  border-bottom-right-radius: 3px;
  margin-top: 20px;
}

/**
 * Allow vertical align in tables.
 */
.table tbody>tr>td.vert-align{
  vertical-align: middle;
}